.precipitation {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__main {
    flex: 1;
    width: 100%;
    padding: 2rem;
  }

  &__loading,
  &__error {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
  }

  &__error {
    color: var(--color-error);
  }

  &__content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__info {
    margin-bottom: 2rem;
  }

  &__location {
    font-size: 1rem;
    color: #666;
    text-align: center;
  }
}
